.myClassname{
  text-align: center;
  margin-left: 30%;
  opacity: 0.5;
  border: none;
}
.navbar{
  background-color: black;
}
.navbar-light .navbar-nav .nav-link.active{
  color:#a5abb1;
  font-size: 1.4rem;
  padding-right: 1.9rem;
}

.navbar-light .navbar-brand.active{
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link.active:hover{
  color:rgb(49, 49, 221);
}
.activeLink{
  font-weight: bold;
  border-bottom: 1px solid rgb(134, 134, 240);
  width: 80%;
}
.navbar-light .navbar-toggler-icon{
  color: white;
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStuBOT2bCDbSaCfq2SLuyFNCaUyvp_leFrsw&usqp=CAU")
}
.icon{
  color: rgb(49, 49, 221)
}
.mainContent{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 30%;
  padding-left: 15%;
  padding-right: 15%;
}
.home{
  background-image: url("https://images.unsplash.com/photo-1421217336522-861978fdf33a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjF8fHxlbnwwfHx8&w=1000&q=80");
  background-repeat: no-repeat;
  margin-left: 1%;
  margin-right: 1%;
  background-size: cover;
}
.about{
  background-color: rgb(80, 79, 79);
  margin-left: 1%;
  margin-right: 1%;
  color: white;

}
.btn{
  border-radius: 100px;
}
.col-auto{
  margin-top: 30px;
}
Iframe{
  margin-top: 5%;
}
.fadyText{
  position: absolute;
  right: 70px;
  top: 150px;
}
video{
  position: absolute;
  width: 98.2%;
  height: 100%;
  object-fit: cover;
  margin-left: 1%;
}
.gps{
  background-color: rgb(72, 235, 72);
  color: black;
}
